.navbar {
    display: flex;
    list-style: none;
    font-size:20px;
    align-items: center;
}
.navbar li {
    padding: 0 20px;
    border:none;
    text-decoration: none;
}
.navbar li a {
    transition: 0.3s ease;
    border:none;
    text-decoration: none;
}
.navbar li a:visited {
    border: none;
    text-decoration: none;
    color:#1a1a1a
}
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 80px;
    /* background-color: hsl(75, 4%, 80%); */
    background-color: rgb(228, 242, 247);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    color: #1a1a1a;
    width:100%;
    position: sticky;
    top:0.1px;
    z-index: 999;
}
.header a {
    cursor:pointer;
  
}

.navbar li a:hover, .navbar li a.active {
    color:#088178;
    border-bottom: 1px solid  #088178;
}

.header .left {
    display:flex;
    gap:60px;
}
.left a {
    height:25px;
    width:100px;
}
.search-cart {
    display:flex;
    align-items:center;
    gap:20px;
    font-size:18px;
}
.search-cart i {
    cursor: pointer;
   color: #1a1a1a;
}
.search-cart i:hover {
    color:#088178;
}


img {
    width: 100%;
    height:100%;
}
.menu {
    display: flex;
    cursor:pointer;
}
/* From Uiverse.io by garerim */ 
  .sidebar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: -14px;
    height: 100vh;
    width: 350px;
    z-index: 999;
    background-color: hsl(0, 0%, 75%);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    display: none;
    flex-direction: column;
    border-radius:4px;
    pointer-events: auto;
  }

  
  .sidebar li {
    cursor: pointer;
    padding: 20px 10px;
    list-style: none;
    width: 100%;
    font-size:20px;
  }

  .sidebar li:hover {
    background-color: #088178;

  }
  .sidebar li:hover a, .sidebar li:hover i {
    color:white;
  }

  .sidebar li a.active {
    color: #088178;

  }


  @media (max-width: 1000px) {
    .menu {
        display: block;
    }
    .navbar {
        display:none;
    }
    .sidebar {
        width:50vw;
    }
  }

  @media (max-width: 480px) {
    .sidebar {
        width:55vw;
    }
    .header {
        padding: 10px 30px;
       
    }
    .left {
        width:100vw;
        align-items: center;
        justify-content: end;
    }
    .search-cart {
        width:100vw;
        justify-content: end;
    }
    .search-cart input{
        display:none;
    }
  }