body {
    background-color: white;
}

.sec-pad {
    padding: 40px 80px;
}
.hero-section p {
    font-size: 20px;
}

.hero-section h1 {
    font-size: 50px;
    color: #088178;
}
p {
    font-size: 30px;
    padding-bottom: 15px;
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    border-radius: 100px;
    font-weight: 600;
    color: #1f387e;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #1f387e;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #c5e5e4;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #1f387e;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

  .f-section {
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    text-align:center;

  }
  
  
  .f-section .box {
    width: 200px;
    text-align:center;
    padding: 10px 10px;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 9px;
    border-radius: 4px;
    margin: 15px 0;
  }
  .f-section .box h3 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4%;
    background-color: #fddde4;
    color: #088178;

  } 

  .f-section .box:hover {
    box-shadow: 10px 10px 54px rgba(70,620,221, 0.1);
  }

.featured-products  {
    text-align:center;
    padding: 40px 80px;
}
.featured-products h2 {
    font-size: 60px;
}
.featured-products p {
    font-size: 30px;
}
.prod-box {
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap:wrap;

}
.pro {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    width: 13%;
    height:450px;
    min-width: 280px;
    padding: 10px 12px;
    border-radius: 25px;
    border: 1px solid #cce7d0;
    cursor:pointer;
    transition: 0.2 ease;
    margin: 15px 15px ;
    box-shadow: 10px 0px 14px rgba(0,0,0,0.1);

}
.pro:hover {
    box-shadow: 10px 0px 14px rgba(0,0,0,0.13);
}
.pro .desc {

    width:100%;
    text-align: start;
    padding: 10px 0;
}
.pro .desc span {
    color: #606063;
    font-size:14px;
}
.pro img {
    width:100%;
    border-radius: 20px;
    height:70%;
}
.pro .desc h4 {
    padding-top: 30px;
    color: #1a1a1a;
    font-size:24px;
}
.pro .desc p {
    padding: 7px 7px 0 7px;
    font-size:24px;
    font-weight:700;
    color: #088178;
}
.pro {
    position:relative;
}
.call-to-action {
    border: 1px solid black;
    width:100vw;
    padding: 40px 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: top 400%;

}
.call-to-action h1 {
    font-size:50px;
}
.call-to-action h2 {
    font-size: 40px;
}
.call-to-action
    button {
        margin-top:15px;
        --color: #00A97F;
        padding: 0.8em 1.7em;
        background-color: transparent;
        border-radius: .3em;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .5s;
        font-weight: 700;
        font-size: 17px;
        border: 1px solid;
        font-family: inherit;
        text-transform: uppercase;
        color: var(--color);
        z-index: 1;
       }
       .call-to-action button::before, .button::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: var(--color);
        transition: 1s ease; 
    }
    .call-to-action button::before {
        top: -1em;
        left: -1em;
       }
   .call-to-action button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   .call-to-action button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
  .call-to-action button:hover {
    color: rgb(10, 25, 30);
   }
   
  .call-to-action button:active {
    filter: brightness(.8);
   }
   .call-to-action span {
    color: #088178
   }

.prod-box .cart-btn{
    width:50px;
    height:50px;
    line-height:40px;
    border-radius:50px;
    background-color:#e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom: 20px;
    right: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:  0.4s ease;
}
.prod-box .cart-btn:hover {

    background-color: #083c38;

}
.small-box {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.banner-box, .small-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px; 
    min-width: 40vw;
    height:50vh;
    background-size: cover;
    background-position: center;

}
.bimbo {
    display:flex;
    gap:10px;
   flex-wrap:wrap;
   justify-content: space-between;
}
.banner-box h2{
    font-size: 50px;
    color: white;
    font-weight: 300;
}
.banner-box  h1{
   font-size: 60px;
   color:white;
   font-weight: 700;
}
.banner-box p {
    color:white;
    font-size:18px;
    font-weight: 15px;
    font-weight:500;

}
.banner-box p {
    font-size: 22px;
}
.banner-box .box-btn {
    font-size: 16px;
    font-weight: 600px;
    padding: 11px 18px;
    color:white;
    background-color: transparent;
    cursor:pointer; 
    border: 1px solid white;
    outline:none;
    transition: 0.4s ease;
}
.banner-box .box-btn:hover {
    background-color: #088178;
    border:none;
    font-size:18px;
}
.bombi .small-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-width: 30%;
    height:30vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.bombi .small-box h2 {
        color:  white;
        font-weight: 900;
        font-size:22px;

}
.bombi .small-box h3 {
    color:  #ec544e;
    font-weight: 800;
    font-size:16px;
}
.bombi {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 0 80px;
}
.comeandvisit {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    background: rgb(9,9,112);
    background: linear-gradient(90deg, rgba(9,9,112,1) 0%, rgba(9,11,110,1) 2%, rgba(12,79,113,1) 37%, rgba(12,96,113,1) 66%, rgba(12,96,113,1) 93%);
    height:230px;
    margin: 15px 20px;
}
.comeandvisit div {
    flex:1;
}
.comeandvisit .posjeti-text h2 {
font-size: 50px;
color:white;
font-weight: 700;
}
.comeandvisit .posjeti-text p { 
    font-size: 20px;
    font-weight:400;
    color:#1a1a1a;
}
.adresa {
    display:flex;
    flex-direction: column;
    align-items: center;

}
.comeandvisit .adresa  svg {
   width:100%;
   height: 100%;


}
.comeandvisit .adresa input {
    height: 45px;
    text-align: center;
    padding:12px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:70%;
    flex:1;
    margin:15px 15px;
    border-radius: 10px;
    background-color: white;

}
.comeandvisit .adresa input::placeholder {
    font-size:24px;
    font-weight:500;
    color: #1a1a1a;
    padding:10px 0px;

}
.comeandvisit .posjeti-text span {
    font-size: 24px;
    color:hsl(39, 100%, 45%);
}

footer img {
    height:45px;
    width:140px;
}
footer img:nth-child(5) {
    width:250px;
}
footer {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}
footer .col{
    display:flex;
    align-items: flex-start;
    margin-bottom:20px;
    flex-direction: column;

}
footer .logo {
    margin-bottom: 30px;
}
footer h2 {
    font-size: 28px;
    padding-bottom:20px;
}
footer p {
    font-size:20px;
    margin: 0 0 8px 0;
    color: #222;
    margin-bottom:10px;
}
footer a {
    font-size:18px;
    text-decoration: none;
    color: #1a1a1a;
    margin-bottom:15px;
}
footer .follow {
    margin-top:20px;

}
footer .follow i {
    color: #1a1a1a;
    font-size:28px;
    padding-right: 8px;
    cursor:pointer;
}
footer .npm-i img {
    margin : 10px 0 15px 0;
    cursor:pointer
}
footer .follow i:hover {
    color: #088178;
}
footer a:hover {
    color: #088178;
}
footer .cr  {
    width: 100%;
    text-align:center;
}
  @media (max-width: 1000px) {
    .hero-section {
        align-items: center;
        background-position: center;

    }
  }
  @media (max-width:720px) {
    .prod-box {
        justify-content: center;
    }
    .f-section {
        justify-content: center;
    }
    
  }

  @media (max-width:700px) {
    h1{
        font-size: 2rem;
    }
    .hero-section h3 {
        font-size: 2rem;
    }
    .call-to-action button {
        font-size:14px;
    }
    
  }
  
  @media (max-width: 420px) { 
    body {
        width: 100vw;
    }
    .hero-section {
        text-align:center;
    }
    .hero-section h1 {
        position:relative;
        right:35px;
    }

    .call-to-action h1 {
        font-size:40px;
    }
  }
  .call-to-action h2 {
    font-size:30px;
}

